/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  color: #afd0f8 ;
}

body {
  background-image: url('./assets/imgs/gifbody.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  /*Isso mantém a imagem fixa enquanto a página rola */
  background-size: cover; /* Isso ajusta o tamanho da imagem para cobrir todo o corpo */
}
